<fieldset >
    <legend>People List</legend>
    <div *ngIf="!isOrder">
        <div *ngIf="!people.length == 0">
            <button class="btn btn-primary" (click)="addPerson()" role="buttorn" name="Add Person"><i class="fa fa-user-plus"></i> Novo</button>
            <div>
                <table class="table table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Details Person</th>
                            <th>Edit Person</th>
                            <th>Remove Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of people">
                            <td>{{person.id}}</td>
                            <td>{{person.nome}}</td>
                            <td>{{person.cpf | CPF}}</td>
                            <td>{{person.rg }}</td>
                            <td>{{person.email}}</td>
                            <td>{{person.telefone}}</td>
                            <td><button class="btn btn-primary" (click)="detailsPerson(person.id)" role="button" name="Details Person" > <i class="fa fa-info "></i> </button></td>
                            <td><button class="btn btn-primary" (click)="editPerson(person.id)" role="button" name="Edit Person" > <i class="fa fa-edit "></i> </button></td>
                            <td><button class="btn btn-danger" (click)="deletePerson(person.id)" role="button" name="Remove Person"><i class="fa fa-trash" ></i></button></td>
                        </tr>
                    </tbody>      
                    <tfoot class="tfoot-primary"></tfoot>
                </table>
            </div>
        </div>
        <div *ngIf="people.length == 0">
            <h5 style="text-align: center;">No registered person, click <a routerLink="/people/add" >here</a> to add </h5>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div *ngIf="isOrder">
        <div *ngIf="!people.length == 0">
            <div>
                <table class="table table-bordered table-hover">
                    <thead class="thead-primary">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Details Person</th>
                            <th>Edit Person</th>
                            <th>Remove Person</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of people" (click)="rowSelected(person)">
                            <td>{{person.id}}</td>
                            <td>{{person.nome}}</td>
                            <td>{{person.cpf | CPF}}</td>
                            <td>{{person.rg }}</td>
                            <td>{{person.email}}</td>
                            <td>{{person.telefone}}</td>
                            <td><button class="btn btn-primary" (click)="detailsPerson(person.id)" role="button" name="Details Person" > <i class="fa fa-info "></i> </button></td>
                            <td><button class="btn btn-primary" [disabled]="true" (click)="editPerson(person.id)" role="button" name="Edit Person" > <i class="fa fa-edit "></i> </button></td>
                            <td><button class="btn btn-danger" [disabled]="true" (click)="deletePerson(person.id)" role="button" name="Remove Person"><i class="fa fa-trash" ></i></button></td>
                        </tr>
                    </tbody>      
                    <tfoot class="tfoot-primary"></tfoot>
                </table>
            </div>
        </div>
        <div *ngIf="people.length == 0">
            <h5 style="text-align: center;">No registered person, click <a routerLink="/people/add" >here</a> to add </h5>
        </div>
    </div>
</fieldset>