table {
    width: 98%;
    margin: 2% 1% ;
    min-width: 720px;
}

td, th{
    text-align: center;
}

h2 {
    margin-left: 1%;
}

.botoes{
    text-align: center;
}

div button {
    width: 30%;
    text-align: center;
    margin: 1%;
}

fieldset{
    border: solid;
    border-width: thin;
    border-color: gray;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 740px;
    margin-bottom: 5%;
}

fieldset legend {
    display: block;
    margin-left: 20px;
    width: auto;
}

tbody td button {
    width: 40px;
}


