<fieldset>
    <legend>Person data</legend>
    <div class="container" *ngIf="person">
        <div class="row">
            <div class="col-sm-12">
                <app-input label="Name " errorMessage="Mandatory field with 5 characters">
                    <input type="text" class="form-control" [(ngModel)]="person.nome" readonly>
                </app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-input label="Email" errorMessage="Invalid E-mail" >
                    <input type="text" class="form-control" [ngModel]="person.email" readonly>
                </app-input>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-12">
                <app-input label="Phone (Optional)" errorMessage="">
                    <input type="text" class="form-control" [(ngModel)]="person.telefone" readonly>
                </app-input>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <button (click)="BackToList()" class="btn btn-dark form-control" style="margin-bottom: 5px;"><i class="fa fa-arrow-left"></i> Back to List </button>                    
            </div>
        </div>
    </div>
</fieldset>