<fieldset>
    <legend>Person data</legend>
    <div class="container" *ngIf="person">
        <div class="row">
            <div class="col-sm-12">
                <label for="Nome">Nome: </label>
                <input type="text" class="form-control" [(ngModel)]="person.nome" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="Email">Email: </label>
                <input type="text" class="form-control" [ngModel]="person.email" readonly>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="Telefone">Telefone: </label>
                <input type="text" class="form-control" [(ngModel)]="person.telefone" readonly>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <button (click)="BackToList()" class="btn btn-dark form-control" style="margin : 10px 0;"><i class="fa fa-arrow-left"></i> Back to List </button>                    
            </div>
        </div>
    </div>
</fieldset>