<fieldset>
    <legend>Update Product</legend>
    <form [formGroup]="productUpdateForm" novalidate>
        <div class="container">            
            <div [hidden]="true">
                <input type="text" class="form-control" formControlName="id" [(ngModel)]="product.id" autocomplete="off">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Name " errorMessage="Mandatory field with 2 characters">
                        <input class="form-control" formControlName="nome" placeholder="Name" [ngModel]="product.nome" autocomplete="off">
                    </app-input>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Lote" errorMessage="Mandatory field with 2 characters" >
                        <input class="form-control" formControlName="lote" placeholder="Lote" [ngModel]="product.lote" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Quantity" errorMessage="Mandatory field">
                        <input type="number" class="form-control" formControlName="quantity" placeholder="Quantity" [ngModel]="product.quantity" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Manufacturer" errorMessage="Mandatory field with 2 characters">
                        <input class="form-control" formControlName="manufacturer" placeholder="Manufacturer" [ngModel]="product.manufacturer" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button (click)="updateProduct(productUpdateForm.value)"[disabled]="productUpdateForm.invalid" class="btn btn-success form-control" style="margin-bottom: 5px;"><i class="fa fa-save"></i> Confirm Edit</button>                    
                </div>
                <div class="col-sm-4">
                    <button (click)="cancel()" class="btn btn-danger form-control" style="margin-bottom: 5px;"><i class="fa fa-close"></i> Cancel</button>
                </div>
                <div class="col-sm-4">
                    <button [disabled]="productUpdateForm.untouched" (click)="productUpdateForm.reset()" class="btn btn-dark form-control" style="margin-bottom: 5px;"> <i class="fa fa-eraser"></i> Clear Fields</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>