<fieldset>
    <legend>Product data</legend>
    <form [formGroup]="productForm" novalidate>
        <div class="container">            
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Name " errorMessage="Mandatory field with 2 characters">
                        <input class="form-control" formControlName="nome" placeholder="Name" autocomplete="off">
                    </app-input>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Lote" errorMessage="Mandatory field with 2 characters" >
                        <input class="form-control" formControlName="lote" placeholder="Lote" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Quantity" errorMessage="Mandatory field">
                        <input type="number" class="form-control" formControlName="quantidade" placeholder="Quantity" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-input label="Manufacturer" errorMessage="Mandatory field with 2 characters">
                        <input class="form-control" formControlName="fabricante" placeholder="Manufacturer" autocomplete="off">
                    </app-input>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button (click)="saveProduct(productForm.value)"[disabled]="productForm.invalid" class="btn btn-success form-control" style="margin-bottom: 5px;"><i class="fa fa-save"></i> Save</button>                    
                </div>
                <div class="col-sm-4">
                    <button (click)="cancel()" class="btn btn-danger form-control" style="margin-bottom: 5px;"><i class="fa fa-close"></i> Cancel</button>
                </div>
                <div class="col-sm-4">
                    <button [disabled]="productForm.untouched" (click)="productForm.reset()" class="btn btn-dark form-control" style="margin-bottom: 5px;"> <i class="fa fa-eraser"></i> Clear Fields</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>