<fieldset>
    <legend>Product data</legend>
    <div class="container" *ngIf="product">
        <div class="row">
            <div class="col-sm-12">
                <label for="Nome">Nome: </label>
                <input type="text" class="form-control" [(ngModel)]="product.nome" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="Lote">Lote: </label>
                <input type="text" class="form-control" [ngModel]="product.lote" readonly>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="Quantity">Quantity: </label>
                <input type="text" class="form-control" [(ngModel)]="product.quantity" readonly>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="Manufacturer">Manufacturer: </label>
                <input type="text" class="form-control" [(ngModel)]="product.manufacturer" readonly>
            </div>                
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <button (click)="goBack()" class="btn btn-danger form-control" style="margin : 10px 0;"><i class="fa fa-arrow-left"></i> Go Back </button>                    
            </div>
        </div>
    </div>
</fieldset>