<header class="main-header">
  <nav class="navbar navbar-expand-sm bg-primary">
    <div class="navbar-header">
      <a class="nav-link" routerLink="/"><b>Orders Manager</b></a>
    </div>

    <div class="navbar-collapse pull-left">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
            <a routerLink="/people" class="nav-link">People</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" class="nav-link" >Products</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/orders" class="nav-link" >Orders</a>
        </li>
      </ul>
    </div>
  </nav>
</header>