<div>
    <button class="btn btn-primary" (click)="addPerson()" role="buttorn" name="Add Person"></button>
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit Person</th>
            <th>Remove Person</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{person.id}}</td>
            <td>{{person.nome}}</td>
            <td>{{person.email}}</td>
            <td>{{person.telefone}}</td>
            <td><button class="btn btn-primary" (click)="editPerson(person.id)" role="button" name="Edit Person" > <i class="fa fa-edit "></i> </button></td>
            <td><button class="btn btn-danger" (click)="deletePerson(person.id)" role="button" name="Remove Person"><i class="fa fa-trash" ></i></button></td>
        </tr>
        <div *ngIf="!people">
            No record found
        </div>
    </tbody>
    <tfoot class="tfoot-dark"></tfoot>
</table>