table {
    width: 98%;
    margin: 2% 1% ;
}

td, th{
    text-align: center;
}

h2 {
    margin-left: 1%;
}

div button {
    width: 20%;
    margin-left: 1%;
    margin-top: 1%;
}

fieldset{
    border: solid;
    border-width: thin;
    border-color: gray;
    margin-left: 14%;
    margin-right: 14%;
    min-width: 699px;
    margin-bottom: 5%;
}

fieldset legend {
    display: block;
    margin-left: 20px;
    width: auto;
}



